body {
    font-family: system-ui, system-ui, sans-serif;
    font-size: 81.25%;
    background-color: rgb(190, 179, 179);
    margin: 3% 20%;
}

.contain {
    background-color: aliceblue;
    padding: 5% 10%;
    
}
h1, h2 {
    color: #000000 ;
}

h1{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    
}
.bold{
    font-weight: bold;
}

img {
    width: 3%;
    height: 3%;
}

h2{
    text-decoration: underline;
}
footer{
    text-align: center;
}